<h1>Posts#show</h1>


<h2><%= @post.title %> by <%= @post.author.username %></h2>


  <p><%= @post.content %></p>
  Subs
  <ul>
  <% @post.subs.each do |sub| %>
    <li><%= sub.title %> : <%= sub.description %> </li>
  <% end %>
  </ul>
  
  <% if current_user.id == @post.author_id %>
    <a href="<%= edit_post_url(@post)%>">Edit Post</a>
  <% end %>