<!DOCTYPE html>
<html>
  <head>
    <title>AppAcademyQuestions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if current_user.nil? %>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% else %>
    <nav>
      <ul>
        <li><img src="https://media.giphy.com/media/rdbyJJX8NbSBW/giphy.gif"></li>
        <li>Welcome, <%= current_user.username %></li>
        <li><%= button_to "Sign Out", session_url, method: :delete %></li>
      </ul>
    </nav>
    <% end %>
    <h1 style="text-align: center;">Clone</h1>
    <%= render 'layouts/errors' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
